<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pan validation
    </title>
  </head>
  <body>
  <form action = "http://127.0.0.1:5000/result" method = "POST">
    Enter pan no<input type="text" name="name"/><br>
    <input type="submit" value="submit"/>


must ensure your input is look like **************{"pan_number":"your pan no"}
    for example {"pan_number":"78945612AXC"}
  </form>
  </body>
    <!-- Bootstrap CSS --